<a href="https://colab.research.google.com/github/notseantan/OOP-58002/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [2]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

For Loop through string

In [3]:
for x in "week":
  print(x)

w
e
e
k

For Loop using break statement

In [4]:
for x in week:
  print (x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

to display only Thursday

In [36]:
for x in "week":
 if x == "Thursday":
     print(x)
     break

range() function

In [34]:
for x in range(6):
   print(x)

0
1
2
3
4
5

Nested Loop

In [37]:
adjective = ["Red", "Big", "Tasty"]
fruits = ["Apple", "Banana", "Cherry"]

While Loop

In [43]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

While Loop using Break Statement

In [64]:
i = 1
while 1 <= 6:
 if i == 3:
  print (i)
 break
i+=1

Create a Python program that displays: Hello 1 to 10

In [70]:
for x in range(11):
 print("Hello",x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Create a Python program that displays integers less than 10 but not less than 3

In [75]:
for x in range(11):
  x>3:
  print(x)
  if x == 10
  break

SyntaxError: ignored